PyYAML~=6.0
prompt-toolkit~=3.0.38
aiohttp~=3.9.5
uvicorn~=0.22.0
fastapi~=0.109.1
starlette~=0.36.2
pydantic~=2.0.2
click~=8.1.4
lupa~=2.0
toml~=0.10.2
colorama~=0.4.6
cryptography~=42.0.4
prompt_toolkit~=3.0.47
requests~=2.32.3